"""
``{{ class_name }}`` enum
"""


from ...base import EnumModel


class {{ class_name }}(EnumModel):
    """
    {{ class_name }} enum class
    """

    {% for name, value in items.items() %}{{ name }} = "{{ value }}"
    {% endfor %}
