"""
``{{ class_name }}`` class

{{ summary }}
"""


from ....{{ request_type }} import {{ request_type }}
from ....exceptions import MISSING
{% if parent %}from ...definitions import {{ parent }} as {{ parent }}Model
{% endif %}{% for import in imports %}from {{ import['import_level'] * '.' }}{{ import['module'] }} import {{ ', '.join(import['imports']) }}
{% endfor %}

class {{ class_name }}({{ request_type }}{% if generic %}[{{ generic }}]{% endif %}{% if parent %}, {{ parent }}Model{% endif %}):
    {% if description %}"""
    {{ description }}
    """{% endif %}

    def __init__(self, {% for arg in url_args %}{{ arg['name'] }}: {{ arg['type'] }}, {% endfor %}{% for kwarg in kwargs %}{{ arg['name'] }}: {{ arg['type'] }} = None{% endfor %}client: Client = None) -> None:
        """
        Args:
            {% for arg in url_args %}{{ arg['name'] }} ({{ arg['type'] }}):
                {{ arg['description'] }}{% endfor %}
            client (Client):
                The client that is used to make the request
        """
        {{ request_type }}.__init__(
            self,
            "{{ raw_url }}",
            {% for arg in url_args %}{{ arg['name'] }}={{ arg['name'] }},
            {% endfor %}{% if generic %}type_={{ generic }},
            {% endif %}client=client
        )
        {{ parent }}Model.__init__(self, {% if generic %}{{ generic }}, {% endif %}MISSING)

