"""
``{{ class_name }}`` class
"""

{% for module, module_values in imports.items() %}from {{ module_values['import_level'] * '.' }}.{{ module }} import {{ ", ".join(module_values['imports']) }}
{% endfor %}

class {{ class_name }}{% if parents %}({{ ', '.join(parents) }}){% endif %}:
    """
    {{ description }}
    """
    pass

